

{{> head}}


{{> navbar}}

<div class="row">

    <div class="col-4">
        <h1>Linux</h1>
    </div>

<div class="col-4">

    <img src="assets/img/descarga.jpeg" class="img-thumbnail" alt="">
</div>

</div>

{{> footer}}